.result{
    .sider{
        background-color: #fff;
        min-height: calc(100vh - 64px);
        border-right: 1px solid #eee;
    }

    .layout{
        .content{
            padding: 20px;
            background-color: #fff;
            .overview{
                width: 100%;
            }

            .product-details{
                width: 100%;
            }

            .review-analysis{
                width: 100%;

                .title-box{
                    display: flex;
                    align-items: center;
                    .reviews{
                        font-size: 12px;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}