.histogram{
    .col{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
            width: 60px;
        }
        .middle{
            flex: 1;
        }
        .rigth{
            width: 60px;
            text-align: right;
        }
    }
}